
@{
    ViewData["Title"] = "Index";
    // Layout="~/Views/Shared/a.cshtml";

}
<h1 id="time">Time:@TempData["data"]</h1>
<script>
    function update(){
        const a = new Date();
        document.getElementById('time').innerText = a.toLocaleTimeString();

    }
    setInterval(update, 1000);
    update();
</script>


